

.star-rating__star {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 15px;
    color: #ABABAB;
    transition: color .2s ease-out;

}

.is-selected {
    color: #FFD700;
}





/*@media only screen and (max-width: 600px) {*/
    /*body {*/
        /*background-color: lightblue;*/
    /*}*/
/*}*/

/*.widget-name label {*/
    /*font-size: 5px;*/
/*}*/

/*.widget-name[min-width~="400px"] label {*/
    /*font-size: 18px;*/
/*}*/

/*.widget-name[min-width~="600px"] label {*/

    /*font-size: 24px;*/
/*}*/

/*.widget-name[min-width~="700px"] label {*/
    /*font-size: 34px;*/

/*}*/